/************************* - CAPTIONS - **************************/
.tp-hide-revslider,.tp-caption.tp-hidden-caption{visibility:hidden !important; display:none !important;}
.tp-caption{z-index:1; white-space:nowrap}
.tp-caption-demo .tp-caption{position:relative !important; display:inline-block; margin-bottom:10px; margin-right:20px !important;}
@media only screen and (min-width: 768px) and (max-width: 959px) {}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.tp-simpleresponsive  .button{padding:4px 8px 3px; line-height:25px !important; font-size:11px !important; font-weight:normal}
	.tp-simpleresponsive  a.button{-webkit-transition:none; -moz-transition:none; -o-transition:none; -ms-transition:none}
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
	.tp-simpleresponsive  .button{padding:2px 5px 2px; line-height:20px !important; font-size:10px !important;}
	.tp-simpleresponsive  a.button{-webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none;	 }
}
.slide_img {
    position: relative;
    z-index: 999;
}
/*************************** - FULLSCREEN AND FULLWIDHT CONTAINERS - ***************************/
.fullscreen-container{width:100%; position:relative; padding:0}
.fullwidthbanner-container{width:100%; position:relative; padding:0; overflow:hidden;height: 100vh}
.fullwidthbanner-container .fullwidthbanner{width:100%; position:relative}
/*************************** - SOME CAPTION MODIFICATION AT START  -***************************/
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{position:absolute; visibility:hidden; -webkit-font-smoothing:antialiased !important}
.tp-simpleresponsive img{max-width:none}
/****************************** - IE8 HACKS	- *******************************/
.noFilterClass{filter:none !important}
/* BULLETS */
.tpclear{clear:both}
.tp-bullets{z-index:1000; position:absolute; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -moz-opacity:1; -khtml-opacity:1; opacity:1; -webkit-transition: opacity 0.2s ease-out; -moz-transition:opacity 0.2s ease-out; -o-transition:opacity 0.2s ease-out; -ms-transition:opacity 0.2s ease-out; -webkit-transform:translateZ(5px)}
.tp-bullets.hidebullets{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0; -khtml-opacity:0; opacity:0}
.tp-bullets.simplebullets.navbar{border:1px solid #666; border-bottom:1px solid #444; background:url(../assets/boxed_bgtile.png); height:40px; padding:0px 10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px}
.tp-bullets.simplebullets.navbar-old{background:url(../assets/navigdots_bgtile.png); height:35px; padding:0px 10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px}
.tp-bullets.simplebullets.round .bullet{cursor:pointer; position:relative; border:3px solid #fff; width:22px; height:22px;  margin-right:0px; float:left; margin-top:0px; margin-left:5px; border-radius:20px;opacity: 0.3;}
.tp-bullets.simplebullets.round .bullet:hover{ border-color:#fff; opacity:1;}
/*************************** -	TP ARROWS - ***************************/
.tp-leftarrow{z-index:100;cursor:pointer; position:relative;	background:url(../assets/large_left.png) no-Repeat top left; width:40px; height:40px}
.tp-rightarrow{z-index:100;cursor:pointer; position:relative; background:url(../assets/large_right.png) no-Repeat top left;	width:40px;	height:40px}
.tp-rightarrow.navbar{z-index:100;cursor:pointer; position:relative; background:url(../assets/small_right_boxed.png) no-Repeat top left; width:20px; height:15px; float:left; margin-left:6px; margin-top:12px}
.tp-leftarrow.default{z-index:20;cursor:pointer; position:relative; background:url(../assets/large_left.png) no-Repeat 0 0; width:40px; height:40px}
.tp-rightarrow.default{z-index:20;cursor:pointer; position:relative; background:url(../assets/large_right.png) no-Repeat 0 0; width:40px; height:40px}
.tp-leftarrow:hover, .tp-rightarrow:hover{background-position:bottom left}
/****************************** - TP THUMBS - ******************************/
.tp-bullets.tp-thumbs {z-index:1000; position:absolute; padding:3px;background-color:#fff; width:500px;height:50px; /* THE DIMENSIONS OF THE THUMB CONTAINER */ margin-top:-50px}
.fullwidthbanner-container .tp-thumbs{padding:3px}
.tp-bullets.tp-thumbs .tp-mask{width:500px; height:50px; /* THE DIMENSIONS OF THE THUMB CONTAINER */ overflow:hidden; position:relative;}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer{width:5000px; position:absolute}
.tp-bullets.tp-thumbs .bullet{width:100px; height:50px; cursor:pointer; overflow:hidden;background:none;margin:0;float:left; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out; -ms-transition:all 0.2s ease-out}
.tp-bullets.tp-thumbs .bullet:hover, .tp-bullets.tp-thumbs .bullet.selected{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -moz-opacity:1; -khtml-opacity:1; opacity:1}
.tp-thumbs img{width:100%}
/************************************ -	TP BANNER TIMER	- *************************************/
.tp-bannertimer{width:100%; height:10px; background:url(../assets/timer.png);position:absolute; z-index:0;top:0px;}
.tp-bannertimer.tp-bottom{bottom:0px;height:5px; top:auto;}
/*************************************** - RESPONSIVE SETTINGS - ****************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {
	.responsive .tp-bullets{display:none}
	.responsive .tparrows{display:none}
}
/****************************** - HTML5 VIDEO SETTINGS	- *******************************/
.vjs-tech{margin-top:1px}
.tp-caption .vjs-default-skin .vjs-big-play-button{left:50%; top:50%; margin-left:-20px; margin-top:-20px; width:40px; height:40px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:none; box-shadow:none; text-shadow:none; line-height:30px; vertical-align:top; padding:0px}
.tp-caption .vjs-default-skin .vjs-big-play-button:before{position:absolute; top:0; left:0; line-height:40px; text-shadow:none !important; color:#fff; font-size:18px}
.tp-caption  .vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus{box-shadow:none; -webkit-box-shadow:none}
/****************************** - BASIC SETTINGS FOR THE BANNER	- ******************************/
.tp-simpleresponsive img{-moz-user-select:none; -khtml-user-select:none; -webkit-user-select:none; -o-user-select:none}
.tp-simpleresponsive a{text-decoration:none}
.tp-simpleresponsive ul{list-style:none; padding:0; margin:0}
.tp-simpleresponsive >ul >li{list-stye:none; position:absolute; visibility:hidden}
/*CAPTION SLIDELINK*/
.caption.slidelink a div, .tp-caption.slidelink a div{width:3000px; height:1500px;  background:url(../assets/coloredbg.png) repeat}
/****************************** - LOADER FORMS - ********************************/
.tp-loader{top:50%; left:50%; z-index:10000; position:absolute}
.tp-loader.spinner0{width:40px; height:40px; background:url(../assets/loader.gif) no-repeat center center; background-color:#fff; box-shadow:0 0 20px 0 rgba(0,0,0,0.15); -webkit-box-shadow:0 0 20px 0 rgba(0,0,0,0.15); margin-top:-20px; margin-left:-20px; -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out; animation: tp-rotateplane 1.2s infinite ease-in-out; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px}
.tp-loader.spinner1{width:40px; height:40px; background-color:#fff; box-shadow:0 0 20px 0 rgba(0,0,0,0.15); -webkit-box-shadow:0 0 20px 0 rgba(0,0,0,0.15); margin-top:-20px; margin-left:-20px; -webkit-animation:tp-rotateplane 1.2s infinite ease-in-out; animation:tp-rotateplane 1.2s infinite ease-in-out; border-radius:3px; -moz-border-radius:3px; 	-webkit-border-radius:3px}
.tp-loader.spinner5{background:url(../assets/loader.gif) no-repeat 10px 10px; background-color:#fff; margin:-22px -22px; -moz-border-radius:3px; -webkit-border-radius:3px}
@-webkit-keyframes tp-rotateplane{
	0%{-webkit-transform:perspective(120px)}
	50%{-webkit-transform:perspective(120px) rotateY(180deg)}
	100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg)}
}
@keyframes tp-rotateplane{
	0%{transform:perspective(120px) rotateX(0deg) rotateY(0deg); -webkit-transform:perspective(120px) rotateX(0deg) rotateY(0deg)} 
	50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg); -webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg)}
	100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg); -webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)}
}
.tp-loader.spinner2{width:40px; height:40px; margin-top:-20px; margin-left:-20px; background-color:#ff0000; box-shadow:0 0 20px 0 rgba(0,0,0,0.15); -webkit-box-shadow:0 0 20px 0 rgba(0,0,0,0.15); border-radius:100%; -webkit-animation:tp-scaleout 1.0s infinite ease-in-out; animation:tp-scaleout 1.0s infinite ease-in-out}
@-webkit-keyframes tp-scaleout{
	0%{-webkit-transform:scale(0.0)}
	100%{-webkit-transform:scale(1.0); opacity:0}
}
@keyframes tp-scaleout{
	0%{transform:scale(0.0); -webkit-transform:scale(0.0)}
	100%{transform:scale(1.0); -webkit-transform:scale(1.0); opacity:0}
}
.tp-loader.spinner3{margin:-9px 0px 0px -35px; width:70px; text-align:center}
.tp-loader.spinner3 .bounce1, .tp-loader.spinner3 .bounce2, .tp-loader.spinner3 .bounce3{width:18px; height:18px; background-color:#fff; box-shadow:0 0 20px 0 rgba(0,0,0,0.15);   -webkit-box-shadow:0 0 20px 0 rgba(0,0,0,0.15); border-radius:100%; display:inline-block; -webkit-animation:tp-bouncedelay 1.4s infinite ease-in-out; animation:tp-bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode:both; animation-fill-mode:both}
.tp-loader.spinner3 .bounce1{-webkit-animation-delay:-0.32s; animation-delay:-0.32s}
.tp-loader.spinner3 .bounce2{-webkit-animation-delay:-0.16s; animation-delay:-0.16s}
@-webkit-keyframes tp-bouncedelay{
	0%, 80%, 100%{-webkit-transform: scale(0.0)}
	40%{-webkit-transform scale(1.0)}
}
@keyframes tp-bouncedelay{
	0%, 80%, 100%{transform:scale(0.0); -webkit-transform:scale(0.0)} 
	40%{transform:scale(1.0); -webkit-transform:scale(1.0)}
}
.tp-loader.spinner4{margin:-20px 0 0 -20px; width:40px; height:40px; text-align:center; -webkit-animation:tp-rotate 2.0s infinite linear; animation:tp-rotate 2.0s infinite linear}
.tp-loader.spinner4 .dot1, .tp-loader.spinner4 .dot2{width:60%; height:60%; display:inline-block; position:absolute; top:0; background-color:#fff; border-radius:100%; -webkit-animation:tp-bounce 2.0s infinite ease-in-out; animation:tp-bounce 2.0s infinite ease-in-out; box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15); -webkit-box-shadow:0 0 20px 0 rgba(0,0,0,0.15)}
.tp-loader.spinner4 .dot2{top:auto; bottom:0; -webkit-animation-delay:-1.0s; animation-delay:-1.0s}
@-webkit-keyframes tp-rotate{100%{-webkit-transform: rotate(360deg)}}
@keyframes tp-rotate{100%{transform:rotate(360deg); -webkit-transform:rotate(360deg)}}
@-webkit-keyframes tp-bounce{0%, 100%{-webkit-transform:scale(0.0)} 50% {-webkit-transform:scale(1.0)}}
@keyframes tp-bounce{
	0%, 100%{transform:scale(0.0); -webkit-transform:scale(0.0)}
	50%{transform:scale(1.0); -webkit-transform:scale(1.0)}
}
.tp-transparentimg{content:"url(../assets/transparent.png)"}
.tp-3d{-webkit-transform-style:preserve-3d; -webkit-transform-origin:50% 50%}
.tp-caption img{background:transparent; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); zoom:1}
@media screen and (max-width:49em){
	.tp-bullets.simplebullets.round .bullet{ width:18px; height:18px;}
}