
@font-face {
font-family: 'Helvetica Neue Bold';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue Bold'), url('HelveticaNeueBold.woff') format('woff');
}
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('HelveticaNeueMedium.eot');
    src: url('HelveticaNeueMedium.eot') format('embedded-opentype'),
         url('HelveticaNeueMedium.woff2') format('woff2'),
         url('HelveticaNeueMedium.woff') format('woff'),
         url('HelveticaNeueMedium.ttf') format('truetype'),
         url('HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
}
@font-face {
    font-family: 'euclid_triangleregular';
    src: url('euclidtriangle-regular-webfont.woff2') format('woff2'),
         url('euclidtriangle-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLTStdBook';
    src: url('AvenirLTStdBook.eot');
    src: url('AvenirLTStdBook.eot') format('embedded-opentype'),
         url('AvenirLTStdBook.woff2') format('woff2'),
         url('AvenirLTStdBook.woff') format('woff'),
         url('AvenirLTStdBook.ttf') format('truetype'),
         url('AvenirLTStdBook.svg#AvenirLTStdBook') format('svg');
}

